 <a class="list-group-item active">
   <h1 class="list-group-item-heading"><%= listing.escape("title")%></h1>
 </a>

<a class="list-group-item">
  <h4 class="list-group-item-heading"> Start Date:</h4>
  <p class="list-group-item-text"><%= booking.escape("start_date")%></p>
</a>

<a class="list-group-item">
  <h4 class="list-group-item-heading"> End Date:</h4>
  <p class="list-group-item-text"><%= booking.escape("end_date")%></p>
</a>

<a class="list-group-item">
  <h4 class="list-group-item-heading">Address:</h4>
  <p class="list-group-item-text"><%= listing.escape("street_address") %>,
    <br>
    <%= listing.escape("city") %>,
    <%= listing.escape("country") %>,
    <%= listing.escape("zipcode") %>
  </p>
</a>

<div id = "mygallery2" class= "show-image"></div>
<br><br><br><br>
