<!DOCTYPE html>
<html>
<head>
  <title>SurpriseBNBApp</title>
  <%= stylesheet_link_tag "application" , media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/header"%>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script>
    filepicker.setKey('AutXH70ASy6vnElZ4Zmo5z');
  </script>
</head>



<% if flash[:errors] %>
  <p><%= flash[:errors] %> </p>
<% end %>



<body>


<%= yield %>

</body>
</html>
