<!DOCTYPE html>
<html>
<head>
  <title>SurpriseBNBApp</title>
  <%= stylesheet_link_tag "application" , media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/header"%>
</head>



<% if flash[:errors] %>
  <p><%= flash[:errors] %> </p>
<% end %>



<body>


<%= yield %>

</body>
</html>
